{% extends "base.html" %}
{% load static %}
{% block extra_head %}

<link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}
{% block title %}
Week {{ lecture.order }} {{lecture.title}} - CS50P
{% endblock %}
{% block content %}

<h1>Неделя {{lecture.order}} <span class="text-secondary fw-normal fs-2">{{ lecture.title }}</span></h1>
<div class="weeks-text">
  <details open>
    <summary>Лекция</summary>
    <ul>
      <li><a href={% url 'note' lecture.order %}>Заметки</a></li>
    </ul>
  </details>
  <ul>
    <li>
      <a href="{% url 'psets' lecture.order %}">Проблемы {{ lecture.order }}</a>
    </li>
  </ul>
</div>
{% endblock %}